blockquote {
  background-color: #000000;
  color: #FFFFFF;
  padding: 5rem 25rem;
  text-align: center;
  margin: 0px -150px;
}

blockquote strong {
  display: inline;
  font-family: '__Barlow_Semi_Condensed_427775';
  font-size: 3.125rem;
  max-width: 900px;
  line-height: 1.2;
}