footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: .75rem;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer a.button:any-link {
  all: unset;
}

footer .footer h3 {
  font-size: 1rem;
}

footer .footer img {
  width: 150px;
  height: 44px;
}